*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: #3B3BE0;
}

button:hover{
    background-color: #3B3BE0;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color: #3B3BE0}

header{
    background-color: rgb(245,245,245);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #3B3BE0;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: row;  
    justify-content: space-between;

    /*display: flex;
    flex-direction: column;
    align-items: center; */
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px 30px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color:#3B3BE0;
}

/* MENU HAMBURGUESA  */

header nav ul{
    display: none;
  }
  
header nav input:checked  ~ ul{
    display: block;
  }
  
header nav input {
    display: none;
  }
  
header nav label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  
  /* Estilo del boton cuando se pasa el mouse por encima*/
header nav label:hover{
    background: grey;
  }
  
  /* Estilo del boton cuando el menú está expandido*/
header nav input:checked ~ label {
    background: lightgrey; 
  }

header nav ul{
    margin-top:0;
    padding: 0;
    width: 210px;
  }
  
header nav li {
    display: contents;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
  }
  
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
header nav li:hover {
    filter: brightness(110%);
  }




#trabaja{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("images/s3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#trabaja h1{
    color: white;
}

#trabaja button{
    font-size: 1.75em;
}

#trabaja button a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#trabaja div a{
    padding: 0px 5px;
    color: white;
}

#somos .container{
    text-align: center;
    padding: 150px 12px;
}

/* CSS pagina contactanos */
#somos .formulario{
    padding: 10px 12px;
}

#somos .formulario label{
    font-weight: bold;
    color: black;
}

#somos .formulario input{
    width: 300px; 
    height: 30px;
    border:1px solid black;
    color: black;
    font-size: 12px;
}

#servicios{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#servicios .container{
    padding: 150px 12px;
}

#servicios h2{
    margin-top: 0;
    font-size: 3.2em;
}

#servicios p{
    display: none;
}

#servicios .serviciosfreelance{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

#servicios .serviciosfreelance button a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.serviciosfreelance:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("images/servidores.webp");
}

.serviciosfreelance:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("images/multicloud.webp");
}

.serviciosfreelance:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("images/fullstack.webp");

}

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

/* CSS Pagina blog */
#blog{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#blog .container{
    padding: 150px 12px;
}

#blog h2{
    margin-top: 0;
    font-size: 3.2em;
}

#blog p{
    display: none;
}

#blog .blogsfreelance{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

#blog .blogsfreelance button a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.blogsfreelance:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("images/blog1.webp");

}

.blogsfreelance:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("images/multicloud.webp");
}

.blogsfreelance:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("images/fullstack.webp");

}

/* CSS Pagina Blog1  */
#blog1 .container{
    text-align: center;
    padding: 150px 12px;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }



    #trabaja h1{
        font-size: 5em;
    }

    #somos .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos h2{
        margin-top: 0px;
    }

    #somos .img-container{
        background-image: url("images/somos-proya.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #somos .img1-container{
        background-image: url("images/contactanos.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #somos .formulario{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #blog1 .container{
        display: flex;
        justify-content: space-evenly;
    }

    #blog1 .texto{
        width: 100%;
        max-width: 1000px;
        text-align: justify;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content:center;
    }

    #blog1 h2{
        margin-top: 0px;
    }


    #servicios .programas{
        display: flex;
        justify-content: center;
    }

    #servicios p{
        display: block;
        margin-bottom: 30px;
    }

    #servicios h2{
        font-size: 4em;
    }

    #servicios h3{
        margin-top: 0;
    }

    #servicios .serviciosfreelance{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .serviciosfreelance:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("images/servidores-cropped.webp");

    }

    .serviciosfreelance:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("images/multicloud-cropped.webp");
    }

    .serviciosfreelance:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("images/fullstack-cropped.webp");

    }

    #caracteristicas{
        background-image: url("images/background-2.jpeg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #blog .programas{
        display: flex;
        justify-content: center;
    }

    #blog p{
        display: block;
        margin-bottom: 30px;
    }

    #blog h2{
        font-size: 4em;
    }

    #blog h3{
        margin-top: 0;
    }

    #blog .blogsfreelance{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .blogsfreelance:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("images/blog1-cropped.webp");
    }

    .blogsfreelance:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("images/multicloud-cropped.webp");
    }

    .blogsfreelance:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("images/fullstack-cropped.webp");
    }
    
    
    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}